# Installation Dir
export INSTALLATION_DIR="$HOME/alpine"

# Fix for Alpine DNS issues
# https://unix.stackexchange.com/questions/441664/alpine-linux-sometimes-dns-is-not-resolved
export DNS_SERVER=8.8.8.8

# Alpine Disk Size
export DISK_SIZE=50G

# Alpine Root Password
export ROOT_PASSWORD=Secret123

# Alpine ISO for VMs
export ALPINE_ISO_URL=https://dl-cdn.alpinelinux.org/alpine/v3.20/releases/aarch64/alpine-virt-3.20.3-aarch64.iso
